{{ define "main" }}
<article class="post-single">

  <header class="post-header">
    <h1>{{ .Title }}</h1>
    {{ partial "post-meta.html" . }}
  </header>

  <div class="post-content">
    <div class="post-article no-cols">
      {{ with .Params.description }}
        <p class="section-desc">{{ . }}</p>
      {{ end }}
      {{ with .Content }}
        {{ . }}
      {{ end }}
    </div>
  </div>

  {{/* === Bloc writeups réutilisable (filtre + cards) === */}}
  {{ partial "components/writeups-cards-with-filter.html" . }}

</article>
{{ end }}

