{{/* 
  Affiche : 
  🕒 Publié le 2 août 2025
  🔄 Mis à jour le 5 août 2025 (si différent)
  📖 Lecture : 3 minutes
*/}}

{{- $i18n := .Site.I18n }}
<div class="post-meta">
  {{ with .Date }}
    <span>🕒 {{ i18n "publishDate" . }}</span>
  {{ end }}
  {{ with .Lastmod }}
    {{ if ne . $.Date }}
      <span>🔄 {{ i18n "lastUpdated" (dict "Format" "2 January 2006" "Date" .) }}</span>
    {{ end }}
  {{ end }}
  {{ with .ReadingTime }}
    <span>📖 {{ i18n "readingTime" . }}</span>
  {{ end }}
</div>
