{{/* layouts/shortcodes/enum-intro.html */}}

{{- $host := "" -}}

{{- with .Page.Params.slug -}}
  {{- $host = printf "%s.htb" . -}}
{{- end -}}

{{- if not $host -}}
  {{- $dir := strings.TrimSuffix "/" .Page.File.Dir -}}
  {{- $machine := path.Base $dir -}}
  {{- $host = printf "%s.htb" $machine -}}
{{- end -}}

{{- $tmpl := `
Dans un challenge **CTF Hack The Box**, tu commences **toujours** par une phase d’**énumération complète**.  
C’est une étape incontournable : elle te permet d’identifier précisément ce que la machine expose afin de repérer les points d’entrée exploitables.

Concrètement, l’objectif de cette phase d’énumération est d’identifier :

- quels **ports** sont ouverts
- quels **services** sont accessibles
- si une **application web** est présente
- quels **répertoires** sont exposés
- si des **sous-domaines ou vhosts** peuvent être exploités

Pour réaliser cette énumération de manière structurée et reproductible, tu peux utiliser les trois scripts suivants :

- **[mon-nmap](/mes-scripts/mon-nmap/)** : identifie les ports ouverts et les services en écoute
- **[mon-recoweb](/mes-scripts/mon-recoweb/)** : énumère les répertoires et fichiers accessibles via le service web
- **[mon-subdomains](/mes-scripts/mon-subdomains/)** : détecte la présence éventuelle de sous-domaines et de vhosts

Tu retrouves ces outils dans la section **[Outils / Mes scripts](/mes-scripts/)**.

Pour obtenir des résultats pertinents dans un contexte **CTF Hack The Box**, tu utilises une **wordlist dédiée**, installée au préalable grâce au script **[make-htb-wordlist](/mes-scripts/make-htb-wordlist/)**.

Cette wordlist est conçue pour couvrir les technologies couramment rencontrées sur Hack The Box et est installée par défaut dans :

<code>/usr/share/wordlists/htb-dns-vh-5000.txt</code>

Cette wordlist est conçue pour couvrir les technologies couramment rencontrées sur Hack The Box.

---

Avant de lancer les scans, vérifie que le nom d’hôte **%s** résout correctement vers l’adresse IP de la cible.

Sur HTB, cela passe généralement par une entrée dans <code>/etc/hosts</code>.

- Ajoute l’entrée <code>10.129.x.x %s</code> dans <code>/etc/hosts</code>.

~~~bash
sudo nano /etc/hosts
~~~

- Lance ensuite le script **mon-nmap** pour obtenir une vue claire des ports et services exposés :

~~~bash
mon-nmap %s

# Résultats dans le répertoire scans_nmap/
#  - scans_nmap/full_tcp_scan.txt
#  - scans_nmap/enum_ftp_smb_scan.txt
#  - scans_nmap/aggressive_vuln_scan.txt
#  - scans_nmap/cms_vuln_scan.txt
#  - scans_nmap/udp_vuln_scan.txt
~~~
` -}}

{{- $content := printf $tmpl $host $host $host -}}
{{ .Page.RenderString $content }}